<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <select (change)="selectChangeHandler($event)">
      <option *ngFor="let month of months" [value]="month.value">
        {{month.viewValue}}
      </option>
    </select>
    <ng-number-picker [(value)]="year"></ng-number-picker>
  </div>
  <br /><br /><br />
</div>

<app-product-bar-chart [month]="month" [year]="year"></app-product-bar-chart>

<router-outlet></router-outlet>
